<h1>Список пользователей</h1>
<div class="mt-5 mb-2">
    <table class="table">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Level</th>
        </tr>
        @{ foreach (User user in Model.Users)
            {
                @Html.Partial("AllUsers", user);
            }
        }
    </table>
    <a class="btn btn-primary" asp-controller="Admin" asp-action="NewUser">Добавить пользователя</a>
</div>