<a class="btn btn-primary mr-2" asp-controller="Librarian" asp-action="">Текущие заказы</a>
<a class="btn btn-primary" asp-area="" asp-controller="Librarian" asp-action="BookControl">Книги в библиотеке</a>
<h1>Заказы:</h1>
<div class="mt-5 mb-2">
    <table class="table">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Order</th>
            <th scope="col">Book</th>
            <th scope="col">User</th>
            <th scope="col">OrderTime</th>
        </tr>
        @{ foreach (OrderDetail orderDetail in Model.OrderDetail)
            {
                @Html.Partial("AllOrders", orderDetail);
            }
        }
    </table>
</div>